asgiref==3.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.2
djangorestframework==3.14.0
greenlet==2.0.2
idna==3.4
psycopg==3.1.8
psycopg2==2.9.6
pytz==2023.3
requests==2.29.0
soupsieve==2.4.1
SQLAlchemy==2.0.11
sqlparse==0.4.4
typing_extensions==4.5.0
urllib3==1.26.15
